.container {
  width: 100%;
  max-width: 71vw;
  display: flex;
  justify-content: space-between;
  @media (max-width: 480px) {
    max-width: 700px;
    flex-direction: column;
  }
  margin: 0 auto;
}

.row__one {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.row__two {
  width: 100%;
  max-width: 200px;
  @media (max-width: 480px) {
    max-width: 100%;
  }
  display: flex;
  flex-direction: column;
}

.row__three {
  width: 100%;
  max-width: 300px;
  @media (max-width: 480px) {
    max-width: 100%;
  }
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 50px;
  > .header span {
    line-height: 1.28;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    // color: #393b44;
    > .__span {
      background: rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0.7);
      text-transform: none;
      opacity: 0.6;
      color: #d6e0f0;
    }
  }
}
