$white: #f1f3f8;
$light: #d6e0f0;
$shadow: #8d93ab;
$dark: #393b44;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $shadow;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $dark;
}

.portfolio,
.projects,
.blog,
.about {
  display: flex;
  height: 100%;
  margin-top: -5rem;
  align-items: center;
  justify-content: center;
  // font-size: 3rem;
  font-family: "Overpass Mono", monospace;
}

.portfolio {
  background-image: url("images/k8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  font-size: 100px;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.projects {
  // background-image: url("images/img-3.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: $white;
  font-size: 100px;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}

.blog {
  // background-image: url("images/k8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5%;
  margin: 0 auto;
  color: $white;
  font-size: 45px;
  @media (max-width: 768px) {
    font-size: 40px;
  }
}
