$white: #f1f3f8;
$light: #d6e0f0;
$shadow: #8d93ab;
$dark: #393b44;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $shadow;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
